/* Standardized Colors, Fonts, */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Core Colors */
  --color-accent: #f97316;
  --color-primary: #333333;
  --color-secondary: #64748b;
  --color-success: #14b8a6;

  /* Background & Text */
  --color-background: #f9fafb; /* Soft off-white */
  --color-background-two: #e0e0e0;
  --color-text: #111827; /* Slate-900 */

  /* Utility Shades */
  --color-muted: #e5e7eb; /* Gray-200 for borders, cards, etc. */
  --color-border: #d1d5db; /* Gray-300 */

  /* standard sizing */

  --radius-normal: 1rem;
  --max-width: 112rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #f97316;
    --color-primary: #f3f4f6;
    --color-secondary: #cbd5e1;
    --color-success: #5eead4;

    --color-background: #1f2937;
    --color-text: #f9fafb;

    --color-muted: #374151;
    --color-border: #4b5563;
  }
} */

/* reset global */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: var(--color-text);
}

/* Body & General */

body {
  background-color: var(--color-background);
}

/* Navigation  */

nav {
  display: flex;
  margin: 1rem auto;
  padding: 0 2rem;
  max-width: var(--max-width);
}

nav a:hover,
nav a:hover i {
  color: var(--color-accent);
}

.Nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.Nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0.75rem 0.75rem;
  transition: all 225ms ease-in-out;
}

.grouped-Nav-links {
  background-color: var(--color-background-two);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
  padding: 0.35rem 0.35rem;
  border-radius: 10rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.grouped-Nav-links a {
  padding: 1rem;
  transition: all 225ms ease-in-out;
  /* color: var(--color-text); */
}

.grouped-Nav-links a:first-child {
  margin-right: 0.5rem;
}

.grouped-Nav-links a.active {
  background-color: var(--color-primary);
  border-radius: 10rem;
  color: var(--color-accent);
  font-weight: 900;
}

.Nav-links a.active {
  color: var(--color-accent);
  background-color: var(--color-primary);
  border-radius: 10rem;
  font-weight: 900;
}

.Nav-links a.active i {
  color: var(--color-accent);
}

/* Main Body of home page */

main {
  max-width: var(--max-width);
  margin: 1rem auto;
}

/* quick icon home page */

.quick-icon {
  margin-top: 3rem;
}

/* home/dashboard information table */

.dashboard-info-display {
  margin-top: 3rem;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-normal);
  /* border: #111827 solid 1px; */
}

.dashboard-info-display:last-child {
  border-bottom-right-radius: var(--radius-normal);
  border-bottom-left-radius: var(--radius-normal);
  border-bottom: transparent;
}

.title-one {
  color: var(--color-background);
  padding: 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.grid-info-table {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
  background-color: var(--color-primary);
  border-top-left-radius: var(--radius-normal);
  border-top-right-radius: var(--radius-normal);
}

.main-row-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
  border-bottom: 0.125rem solid var(--color-muted);
}

.main-row-item:hover {
  background-color: var(--color-muted);
}

.main-row-item:last-child:hover {
  background-color: var(--color-muted);
  border-bottom-right-radius: var(--radius-normal);
  border-bottom-left-radius: var(--radius-normal);
}

.table-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.table-item-action-buttons {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* footer styling */

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  margin: 0.5rem 0;
}

footer i {
  font-style: italic;
}

/* standard component styling */
/* standard component styling */
/* standard component styling */

.std-button {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  border-radius: var(--radius-normal);
  border: none;
  color: var(--color-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 225ms ease-in-out;
}

.std-button i {
  color: var(--color-background);
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.std-button:hover,
.std-button:hover i {
  background-color: var(--color-accent);
  color: var(--color-text);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-normal);
}

th,
td {
  padding: 1rem;
  text-align: left;
}

th {
  font-weight: 800;
  font-size: 1.25rem;
  background-color: var(--color-primary);
  color: var(--color-background);
}

th:first-child {
  border-top-left-radius: var(--radius-normal);
}

th:last-child {
  border-top-right-radius: var(--radius-normal);
  text-align: center;
}

/* Automations and transitions */
/* Automations and transitions */
/* Automations and transitions */

@view-transition {
  navigation: auto;
}
