/* Standardized Colors, Fonts, */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Core Colors */
  --color-accent: #f97316;
  --color-primary: #333333;
  --color-secondary: #64748b;
  --color-success: #14b8a6;

  /* Background & Text */
  --color-background: #f9fafb; /* Soft off-white */
  --color-background-two: #e0e0e0;
  --color-text: #111827; /* Slate-900 */

  /* Utility Shades */
  --color-muted: #e5e7eb; /* Gray-200 for borders, cards, etc. */
  --color-border: #d1d5db; /* Gray-300 */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #f97316;
    --color-primary: #f3f4f6;
    --color-secondary: #cbd5e1;
    --color-success: #5eead4;

    --color-background: #1f2937;
    --color-text: #f9fafb;

    --color-muted: #374151;
    --color-border: #4b5563;
  }
} */

/* reset global */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: var(--color-text);
}

/* Body & General */

body {
  background-color: var(--color-background);
}

/* Navigation  */

nav {
  display: flex;
  margin: 1rem auto;
  padding: 0 2rem;
  max-width: 1800px;
}

nav a:hover,
nav a:hover i {
  color: var(--color-accent);
}

.Nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.Nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0.75rem 0.75rem;
  transition: all 225ms ease-in-out;
}

.grouped-Nav-links {
  background-color: var(--color-background-two);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  padding: 0.35rem 0.35rem;
  border-radius: 10rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.grouped-Nav-links a {
  padding: 1rem;
  transition: all 225ms ease-in-out;
  /* color: var(--color-text); */
}

.grouped-Nav-links a.active {
  background-color: #333333;
  border-radius: 10rem;
  color: var(--color-accent);
  font-weight: 900;
}

.Nav-links a.active {
  color: var(--color-accent);
  background-color: var(--color-primary);
  border-radius: 10rem;
  font-weight: 900;
}

.Nav-links a.active i {
  color: var(--color-accent);
}

/* .Nav-links a.active i {
  background-color: var(--color-primary);
  border-radius: 10rem;
  padding: 0.25rem;
} */

@view-transition {
  navigation: auto;
}
